<!DOCTYPE html>
@{
    ViewData["Title"] = "Qr Code";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    @model QrWifi.Models.qrCodeModel
    @if (ViewBag.QRcode != null)
    {
        <img src="@ViewBag.QRcode" style="max-width:100%; height:auto; max-height:80vh;" />
    }
</div>

<style>
    #qr-code {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
</style>

<div class="text-center">
    @if (ViewBag.QRcode != null)
    {
        <img src="@ViewBag.QRcode" style="max-width:100%; height:auto; max-height:80vh;" />
    }
</div>