<!DOCTYPE html>
@{
    ViewData["Title"] = "Qr Code";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    @model QrWifi.Models.qrCodeModel
    @if (ViewBag.QRcode != null)
    {
        <img src="@ViewBag.QRcode" style="max-width:100%; height:auto; width:80vw; max-height:80vh;" />
    }
</div>

@section Scripts {
    <script>
        function resizeQRCode() {
            var qrCode = document.getElementById("qr-code");
            var qrContainer = qrCode.parentElement;
            var qrContainerWidth = qrContainer.clientWidth;
            qrCode.style.maxWidth = qrContainerWidth + "px";
        }

        // Call resizeQRCode() when the page loads and whenever the window resizes
        window.addEventListener("load", resizeQRCode);
        window.addEventListener("resize", resizeQRCode);
    </script>
}

<style>
    #qr-code {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
</style>